@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/variables";

.formModel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  padding: 4em;
  max-width: 40rem;
  width: 90%;
  z-index: 10;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(17, 17, 17, 0.356);

  &__form {
    @include flexbox(column, center, flex-start);
  }

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  &__title,
  &__desc {
    border-bottom: 1px solid rgba(17, 17, 17, 0.267);
    width: 100%;
    padding: 0.6em 0;
    margin-bottom: 2rem;

    input,
    textarea {
      flex: 1;
      width: 100%;
      font-size: 1.4rem;
    }
  }
}
